{% extends "base.html" %}

{% block content %}

    <!-- Display messages -->
    {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="form-container">
        <h2 class="text-center">Make a Booking</h2>
        {% if user.is_authenticated %}
            {% if messages %}
                <div class="info-message">
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-field mb-3">
                    <label for="id_date">Date:</label>
                    <input type="date" id="id_date" name="date" required class="form-control">
                </div>
                <div class="form-field mb-3">
                    <label for="id_table_number">Table Number:</label>
                    <input type="text" id="id_table_number" name="table_number" placeholder="Enter table number" required class="form-control">
                </div>
                <div class="form-field mb-3">
                    <label for="id_user">User (if applicable):</label>
                    <input type="text" id="id_user" name="user" placeholder="Enter username if booking for someone else" class="form-control">
                </div>
                <button type="submit" class="button-primary btn w-100">Book</button>
                <div class="text-center mt-3">
                    <a href="{% url 'booking_list' %}" class="button-primary">Check Today's Bookings</a>
                </div>
            </form>
        {% else %}
            <div class="warning-message text-center">
                You need to <a href="{% url 'account_login' %}" class="text-success">login</a> to make a booking.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
